<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="bg-secondary col-4 text-light">会員情報編集</h4>
    </div>
  </div>
  <%= render 'layouts/errors', obj: @customer %>
  <div class="row">
    <div class='mx-auto col-md-12 mt-3'>
      <%= form_with model: @customer, url: customers_path, local: true do |f| %>

        <!--名前-->
        <div class="form-group row">
          <%= f.label "名前", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :last_name, autofocus: true, :placeholder => "令和", class: "form-control col-sm-3" %>
          <%= f.text_field :first_name, autofocus: true, :placeholder => "道子", class: "form-control col-sm-3" %>
        </div>

        <!--フリガナ-->
        <div class="form-group row">
          <%= f.label "フリガナ", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :last_name_kana, autofocus: true, :placeholder => "レイワ", class: "form-control col-sm-3" %>
          <%= f.text_field :first_name_kana, autofocus: true, :placeholder => "ミチコ", class: "form-control col-sm-3" %>
        </div>

        <!--郵便番号-->
        <div class="form-group row">
          <%= f.label :post_code, "郵便番号(ハイフンなし)", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :post_code, autofocus: true, :placeholder => "0000000", class: "form-control col-sm-3" %>
        </div>

        <!--住所-->
        <div class="form-group row">
          <%= f.label :address, "住所", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :address, autofocus: true, :placeholder => "東京都渋谷区代々木神園町0-0", class: "form-control col-sm-7" %>
        </div>

        <!--電話番号-->
        <div class="form-group row">
          <%= f.label :phone_number, "電話番号(ハイフンなし)", class: "col-sm-3 col-form-label" %>
          <%= f.text_field :phone_number, autofocus: true,  :placeholder => "0000000000", class: "form-control col-sm-3" %>
        </div>

        <!--メールアドレス-->
        <div class="form-group row">
          <%= f.label :email, "メールアドレス", class: "col-sm-3 col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "form-control col-sm-3" %>
        </div>

        <div class="actions row">
          <%= f.submit "編集内容を保存", class: "btn btn-success col-sm-3 offset-sm-3" %>
          <%= link_to "退会する", unsubscribe_customers_path, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>