<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1 mt-5">
      <h4 class="col-4"><span class="title">マイページ</span></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mt-4 d-flex flex-row mb-3">
      <h4><strong class="align-middle">登録情報</strong></h4>
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success ml-5 px-4" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-4">
      <table class="table my-table">
        <tr>
          <th class="table-back" style="width: 200px;">氏名</th>
          <td style="width: 528px;"><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th class="table-back" style="width: 200px;">カナ</th>
          <td style="width: 528px;"><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <th class="table-back" style="width: 200px;">郵便番号</th>
          <td style="width: 528px;">〒<%= @customer.post_code.to_s.insert(3, "-") %></td>
        </tr>
        <tr>
          <th class="table-back" style="width: 200px;">住所</th>
          <td style="width: 528px;"><%= @customer.address.truncate(50) %></td>
        </tr>
        <tr>
          <th class="table-back" style="width: 200px;">電話番号</th>
          <td style="width: 528px;"><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th class="table-back" style="width: 200px;">メールアドレス</th>
          <td style="width: 528px;"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-4 d-flex flex-row mb-3">
      <h4 style="width: 100px;"><strong class="align-middle">配送先</strong></h4>
      <%= link_to "一覧を見る", ship_addresses_path, class: "btn btn-primary ml-5 px-4" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 mt-4 d-flex flex-row mb-3">
      <h4 style="width: 100px;"><strong class="align-middle">注文履歴</strong></h4>
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary ml-5 px-4" %>
    </div>
  </div>
</div>
