<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1 mt-5">
      <h4 class="bg-secondary col-4 text-light">マイページ</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-4">
      <h4>登録情報</h4>
    </div>
    <div class="col-sm-3 mt-4">
      <%= link_to "編集する", edit_customers_path, class: "btn btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mt-4">
      <table class="table table-bordered">
        <tr>
          <th scope-"row">氏名</th>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th scope-"row">カナ</th>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <th scope-"row">郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th scope-"row">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th scope-"row">電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th scope-"row">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4 class="mt-4">配送先</h4>
    </div>
    <div class="col-sm-3">
      <%= link_to "一覧を見る", ship_addresses_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <h4 class="mt-4">注文履歴</h4>
    </div>
    <div class="col-sm-3">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>