<div class="container">
  <div class="row">
    <h4 class="title mt-5"><%= @customer.full_name %>さんの会員詳細</h4>
  </div>
  <div class="row">
    <div class='mx-auto col-md-12 mt-3'>
      <table class="table table-borderless">
        <tr>
          <td class="col-md-2">会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.full_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address.truncate(50) %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <% if @customer.is_deleted == false %>
            <td class="text-success font-weight-bold">有効</td>
          <% else %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% end %>
        </tr>
      </table>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-action offset-md-2" %>
      <%= link_to "履歴一覧を見る", admin_orders_path, class: "btn btn-next offset-sm-1" %>
    </div>
  </div>
</div>