<div class="container">
  <div class="row">
    <div class="col-md-8 mt-5">
      <h4 class="bg-secondary col-6 text-light">注文履歴詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class='mx-auto col-md-12 mt-3'>
      <table class="table table-borderless order-show">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= @order.post_code %> <%= @order.address %>
            <%= @order.owner %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, local: true do |f| %>
              <%= f.select :status, Order.statuses.keys %>
              <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
      <%= render "admin/order_products/show", order_products: @order_products %>
    </div>\
    <div class="col-md-3">
      <table class="table table-borderless">
        <tr>
          <th>商品合計</th>
          <td><%= %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th>請求額合計</th>
          <td><%= @order.charge %></td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>

