<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 ml-5 mt-5">
      <h4 class="col-lg-4 col-md-6 col-sm-10"><span class="title">配送先編集</span></h4>
    </div>
  </div>
  <div class="row">
    <div class='col-md-9 mt-5'>
      <%= form_with model: @ship_address, local: true do |f| %>
        <div class="field mb-2">
          <%= f.label :post_code, "郵便番号(ハイフンなし)", class: "col-3" %>
          <%= f.text_field :post_code %>
        </div>

        <div class="field mb-2">
          <%= f.label :post_code, "住所", class: "col-3" %>
          <%= f.text_field :address, :size => "50" %>
        </div>

        <div class="field">
          <%= f.label :post_code, "宛名", class: "col-3" %>
          <%= f.text_field :owner , class: "mr-5" %>
          <strong><%= f.submit "変更内容を保存", class: "btn btn-success btn-sm float-right px-4" %></strong>
        </div>

      <% end %>
    </div>
  </div>
</div>