<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 mt-5">
      <h4 class="bg-secondary col-5 text-light mb-5 pl-5 pr-4">ジャンル一覧・追加</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
        <div class="field mb-3">
          <%= f.label :name, "ジャンル名", class: "mr-5" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ジャンル名" %>
          <%= f.submit "新規登録", class: "btn btn-success px-3 pl-4 pr-4 ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md8">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル名</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td style="width: 300px;"><%= genre.name %></td>
              <td><%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>