<div class="container">
  <div class="row">
    <h4 class="title">ジャンル一覧・追加</h4>
  </div>
  <div class="row">
    <div class="col-md-8 my-4" id="genre-error">
      <%= render 'layouts/errors', obj: @genre %>
      <%= form_with model: @genre, url: admin_genres_path, remote: true do |f| %>
        <div class="field mb-3">
          <%= f.label :name, "ジャンル名", class: "mr-5 font-weight-bold" %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ジャンル名", size: "31x20", id: "text" %>
          <%= f.submit "新規登録", class: "btn btn-action px-3 pl-4 pr-4 ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md8">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="genre-index">
          <%= render 'index', genres: @genres %>
        </tbody>
      </table>
    </div>
  </div>
</div>