<div class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 my-5">
      <h4 class="bg-secondary col-4 text-light text-center">商品詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12">
     <%= attachment_image_tag @product, :image, fallback: "no_image.jpg", size: "300x300" %>
    </div>
    <div class="col-md-7">
      <table class="table table-borderless">
        <tr>
          <td class="col-md-3 font-weight-bold">商品名</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">商品説明</td>
          <td><%= @product.introduction %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">ジャンル</td>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">税込み価格<br> （税抜き価格）</td>
          <td class="font-weight-bold h5">
            <%= @product.add_tax_price.to_s(:delimited) %> 円(<%= @product.price.to_s(:delimited) %>)円
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">販売ステータス</td>
          <% if @product.is_active == true %>
            <td class="text-success h4 font-weight-bold">販売中</td>
          <% else %>
            <td class="text-danger h4 font-weight-bold">販売停止中</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="text-center">
        <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-success btn-lg text-center mb-5" %>
      </div>
    </div>
  </div>
</div>
</div>