<div class="container">
  <div class="row">
    <h4 class="title">商品詳細</h4>
  </div>

  <div class="row">
    <div class="col-lg-3 mt-3 text-center">
     <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", class: "product_show_img"%>
    </div>
    <div class="col-lg-8 offset-md-1">
      <table class="table table-borderless">
        <tr>
          <td class="col-md-3 font-weight-bold">商品名</td>
          <td><%= @product.name %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">商品説明</td>
          <td><%= @product.introduction %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">ジャンル</td>
          <td><%= @product.genre.name %></td>
        </tr>
        <tr>
          <td class="font-weight-bold">税込価格<br>(税抜価格)</td>
          <td class="font-weight-bold h5 align-middle">
            <%= @product.add_tax_price.to_s(:delimited) %> (<%= @product.price.to_s(:delimited) %>) <span class="show-yen">円</span>
          </td>
        </tr>
        <tr>
          <td class="font-weight-bold">販売ステータス</td>
          <% if @product.is_active == true %>
            <td class="text-action h4 font-weight-bold">販売中</td>
          <% else %>
            <td class="text-secondary h4 font-weight-bold">販売停止中</td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="text-center">
        <%= link_to "編集する", edit_admin_product_path(@product), class: "btn btn-action btn-lg text-center mb-5" %>
      </div>
    </div>
  </div>
</div>