<h2>ログイン</h2>

<h3>会員の方はこちらからログイン</h3>

<%= form_with model: @customer, url: customer_session_path(resource_name), local: true do |f| %>

  <!--メールアドレス-->
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h3>会員登録がお済みでない方</h3>
<%= render "public/shared/links" %>